@media (max-width: 320px) {
    .top-bar ul{
        width: 100vw;
        padding: 0px;
    }
 
    .hero_content h1{
        font-size: 30px;
        margin: 50px;
    }
    
    .container .item img{
       width: 200px;
       height: 300px;
    
    }
    .header-navbar{
        display: none;
    }
    
    .product-detail-container{
    display: block;
    }
    #product-img{
        margin-left: 0px;
        width: 200px;
    }
    .product-info{
        width: 200px;
        
        font-size: 10px;
    }
    }
    
    @media only screen and (max-width: 600px) {
        .header-icons{
            margin-top: 0px;
            margin:-10px 30px 0px;
        }
        .promotion>input {
            font-size:1rem;
            }
        .munber{
            font-size: medium;
  
        }
        .close {
            font-size: 8px;
        }
        .quantity>input{
            font-size: 10px;
        width: 20px;
	    height: 20px;
        }
        .detail .name a {
            font-size: 10px;
            font-weight: 500;
        }
        .search-box {
            position: absolute;
            top: 50%;
            overflow: visible;
        }
        .advanced-search {
            width: 200px;
            margin-top: 5px;
        }
        .advanced-search.show {
            display: block;
        }

        .search-box .close-btn {
            right: 15px;
            top: 42%;
        }
        
        .header-icons.expanded .search-box {
            width: 200px;
            margin-right: 0px;
        }  
   
        
        .header-navbar{
            display: none;
        }
        .header-icons i{
            opacity: 3;
        }
        .heading-logo{
            font-size: 10px;
        }
        .header-icons i{
            
        }
        .top-bar ul{
            width: 100vw;
            padding: 0px;
        }
        .hero_content h1{
            font-size: 30px;
            margin: 50px;
        }
        .container .item img{
            width: 200px;
            height: 300px;
         
         }
         .product-detail-container{
            display: block;
            }
            #product-img{
                margin-left: 0px;
                width: 200px;
            }
            .product-info{
                width: 200px;
                
                font-size: 10px;
            }
    }
    @media only screen and (min-width: 1024px) {
        
        .promotion>input {
            font-size:1rem;
            }
        #toggleButtonopen{
            display: none;
        }
    }