/* Main */
.main {
    padding-top: 12rem;
}

.title {
    font-size: 1.875rem;
    font-weight: 600;
    color: #1f2937;
    margin: 20px 25px;
    text-transform: uppercase;
}

.side-bar-container {
    margin: 30px 50px;
}

.list-inline {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-items: center;
    text-transform: uppercase;
}

.list-inline h3 {
    font-weight: 500;
    color: #1f2937;
}

hr {
    width: 22.2%;
    border: 1px solid black;
}

.list-inline li:hover {
    cursor: pointer;
    max-width: fit-content;
    background-color: gainsboro;
}

.container {
    display: flex;
}

/* Information */
.infor-container {
    flex: 1;
    margin: 0 14rem;
    margin-bottom: 4rem;
}

.sub-title {
    padding-top: 24px;
    height: 80px;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Verdana;
}

.main input[type="text"],
input[type="email"],
input[type="password"],
input[type="email"] {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    align-items: center;
}

.infor-boxes {
    margin-bottom: 10px;
}

.infor-boxes label {
    display: block;
    margin-bottom: 5px;
}

.infor-row {
    display: flex;
    gap: 20px;
}

.infor-row .infor-boxes {
    flex: 1;
}

.city-select-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.city-select-container select {
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #9b9b9b;
    width: 18%;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    align-items: center;
}

.btn-save {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn-save .btn-primary {
    padding: 8px 20px;
    background-color: rgb(105, 105, 105);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-save .btn-primary:hover {
    background-color: gray;
}

/* Lịch sử */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Thêm khoảng cách giữa bảng và các phần khác */
}

table, th, td {
    border: 1px solid #ddd; /* Màu và độ dày của đường kẻ */
}

th, td {
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

td{
    justify-content: center;
    text-align: center;
}

th {
    justify-content: center;
    text-align: center;
}

.name {
    width: 200px;
    white-space: nowrap; /* Ngăn chặn quấn dòng */
    overflow: hidden; /* Ẩn phần vượt quá chiều rộng */
    text-overflow: ellipsis; /* Hiển thị dấu chấm cuối nếu có phần vượt quá chiều rộng */
}



